@import '../../sass/mixin';

.slider {
  padding: 40px 0px 0px 0px;
}

.slide {
  width: 900px;
  height: 600px;
}

@include lg {
  .slide {
    height: 345px;
  }
}

@include sm {
  .slide {
    height: 200px;
  }
}