.row {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.color {
  font-size: 48px;
  font-weight: 700;
  font-family: 'Ubuntu', sans-serif;
  margin-right: 15px;

  span {
    font-size: 100px;
  }
}

