@import '../../../../sass/mixin';

.title, .titlePrice {
  font-size: 24px;

  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
}

.titlePrice {
  margin-top: 80px;
}

.title {
  margin-top: 30px;
}

.price {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 60px;
  color: #FE485E;
  margin-top: 20px;
}

.text {
  width: 800px;
  font-size: 20px;
  margin-top: 10px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
}

.row {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-bottom: 30px;
}

@include lg {
  .text {
    width: 600px;
  }
  .title {
    margin-top: 0px;
  }
  .row {
    flex-direction: column;
    padding-top: 0px;
  }
  .additional {
    order: 1;
  }
  .content {
    order: 2;
  }
}

@include md {
  .text {
    width: 100%;
  }
}
