@import '../../../../sass/mixin';

.title {
  font-size: 28px;
  margin-top: 60px;

  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
}

.text {
  width: 800px;
  font-size: 24px;
  margin-top: 10px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
}

.row {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-top: 40px;
}

@include lg {
  .text {
    width: 600px;
  }
  .title {
    margin-top: 0px;
  }
  .row {
    flex-direction: column;
    padding-top: 0px;
  }
  .additional {
    order: 1;
  }
  .content {
    order: 2;
  }
}

@include md {
  .text {
    width: 100%;
  }

}
